<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <base href="/">
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <link rel="stylesheet" type="text/css" href="styles/buttons.css">
    <link rel="stylesheet" type="text/css" href="styles/tables.css">
    <link rel="stylesheet" type="text/css" href="styles/links.css">
    <link rel="stylesheet" type="text/css" href="styles/nav.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <title>COFFEE - Coffee Ordering & Finance Flexibility Enhancement Environment</title>
  </head>


  <body>

    <section id="banner">
      <h1>COFFEE - Coffee Ordering & Finance Flexibility Enhancement Environment</h1>
    </section>

    <nav>
      <ul>
        <li><a href="/"> <i class="fas fa-home"></i></i> Home</a></li>
        <li><a href="/producers"> <i class="fas fa-industry"></i> Producers</a></li>
        <li><a href="/products"> <i class="fas fa-box-open"></i> Inventory</a></li>
      </ul>
    </nav>


    <section id="content">
    <%= yield %>
    </section>

  </body>
</html>
