<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>COFFEE</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/producers">Producers</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/stock_items">Stock Items</a></li>
      </ul>
    </nav>
    <section id="content">
    <%= yield %>
    </section>

  </body>
</html>
