<h1>Edit Producer Details: <%= @producer.name %></h1>

<section class="details-box">
<p>
<form class="" action="/producers/<%= @producer.id %>" method="post">

  <label for="name"> Name: </label>
  <input id="name" type="text" name="name" value="<%=@producer.name%>">
  <br>
  <label for="address"> Address: </label>
  <input id="address" type="text" name="address" value="<%=@producer.address%>">
  <br>
  <input class="btn btn--submit" type="submit" value="Confirm">

</form>
</p>
</section>
