<h1>All Producers</h1>

<a href="producers/new">Add Producer</a>

<table>
  <tr>
    <th>Id</th>
    <th>|</th>
    <th>Name</th>
  </tr>
  <% @producers.each do |producer| %>
  <tr>
    <td><%= producer.id %></td>
    <th>:</th>
    <td><a href="/producers/<%= producer.id %>"><%= producer.name %></a></td>
  </tr>
  <% end %>
</table>
