<h1>Producers</h1>

<table>
  <tr>
    <th>Id</th>
    <th>|</th>
    <th>Name</th>
  </tr>
  <% @producers.each do |producer| %>
  <tr>
    <td><%= producer.id %></td>
    <th>:</th>
    <td><a href="/producers/<%= producer.id %>"><%= producer.name %></a></td>
  </tr>
  <% end %>
</table>
