<h1>All Producers</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Address</th>
  </tr>
  <% @producers.each do |producer| %>
  <tr>
    <td><%= producer.id %></td>
    <td><a href="/producers/<%= producer.id %>"><%= producer.name %></a></td>
    <td><%= producer.address %></td>
  </tr>
  <% end %>
</table>



<section class="add-producer-window">
  <h1><i class="fas fa-industry"></i> Create New Producer</h1>

  <form class="" action="/producers" method="post">
    <label for="name">Name:</label>
    <input id="name" type="text" name="name" required="required" >
    <br>
    <label for="address">Address:</label>
    <input id="address" type="text" name="address" required="required" >
    <br>
    <input class="btn btn--submit" type="submit" name="" value="Create Producer">
  </form>
</section>
