<h1>All Producers</h1>

<a href="producers/new"><i class="fas fa-industry"></i>Add Producer</a>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
  </tr>
  <% @producers.each do |producer| %>
  <tr>
    <td><%= producer.id %></td>
    <td><a href="/producers/<%= producer.id %>"><%= producer.name %></a></td>
  </tr>
  <% end %>
</table>

<section class="add-producer">
  <h1>Create New Producer</h1>

  <form class="" action="/producers" method="post">
    <label for="name">Name:</label>
    <input id="name" type="text" name="name" required="required" >
    <br>
    <label for="address">Address:</label>
    <input id="address" type="text" name="address" required="required" >
    <br>
    <input type="submit" name="" value="Create Producer">
  </form>
</section>
