<h1>Create New Producer</h1>

<section class="details-box">
<form class="" action="/producers" method="post">
  <label for="name">Name:</label>
  <input id="name" type="text" name="name" required="required" >
  <br>
  <label for="address">Address:</label>
  <input id="address" type="text" name="address" required="required" >
  <br>
  <input class="btn btn--submit" type="submit" value="Create Producer">
</form>
<section class="details-box">
