<h1>Create New Producer</h1>

<form class="" action="/producers" method="post">
  <label for="name">Name:</label>
  <input id="name" type="text" name="name" required="required" >
  <br>
  <label for="address">Address:</label>
  <input id="address" type="text" name="address" required="required" >
  <br>
  <input type="submit" name="" value="Create Producer">
</form>
