<h1>Producer Details</h1>

<p>Id: <%= @producer.id %></p>
<p>Name : <%= @producer.name %></p>
<p>Address : <%= @producer.address %></p>
<input class="button" type='submit' value="Edit">
<input class="button" type='submit' value="Delete">
