<h1>Create Stock Item</h1>

<form class="" action="/stock_items" method="post">

  <label for="product_select">Select product:</label>
  <select name="product_id" id="product_select">
    <% @products.each do |product| %>
        <option value=<%= product.id %>><%= product.name %></option>
    <% end %>
  </select>
  <br>

  <label for="units-in-stock">Units in Stock:</label>
  <input id="units-in-stock" type="number" name="units_in_stock" >
  <br>
  <label for="optimal-stock">Optimal Stock:</label>
  <input id="optimal-stock" type="number" name="optimal_stock" >
  <br>
  <input type="submit" name="" value="Add Stock Item">
</form>
