@import url('https://fonts.googleapis.com/css?family=Poppins');

/* Coolors Exported Palette - coolors.co/cea25a-251605-504746-bfada3-754f44 */
:root{
--colour1: rgba(206, 162, 90, 1);
--colour2: rgba(37, 22, 5, 1);
--colour3: rgba(80, 71, 70, 1);
--colour4: rgba(191, 173, 163, 1);
--colour5: rgba(117, 79, 68, 1);
}

/* ------- Use the sensible box-model , define fonts ------- */
* {
  box-sizing: border-box;
  font-family: 'Poppins', Helvetica, sans-serif;
}

/* ------- Design Page Layout------- */

body {
  color: var(--colour2);
  background-color: var(--colour1);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%23754f44' fill-opacity='0.4' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
}

h1 {
  font-weight: bold;
}

#content{
  position: relative;
  top: 100px;
  left: 200px;
  width: 75%;
  height: auto;
  padding-left: 20px;
}

#banner{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: var(--colour3);
  color: white;
  font-size: 16px;
  padding-left: 25px;
  padding-top: 15px;
  z-index: 10;
}

img {
  padding: 20px;
}

/* ------- Design add entry window ------- */

input{
  border: 2px solid var(--colour2);
  border-radius: 10px;
  padding: 3px 3px;
}

select {
  width: 100px;
  padding: 16px 20px;
  border: 2px solid var(--colour2);
  border-radius: 10px;
  background-color: #f1f1f1;
}


#units-in-stock-inline{
width: 50px;
}


.add-producer-window {
  position: fixed;
  top: 120px;
  right: 50px;
  width: 270px;
  height: 200px;
  border: 3px solid var(--colour5);
  border-radius: 15px 50px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  background-color: var(--colour4);
}

/* ------- Design details sections ------- */

.details-box {
  display: inline-block;
  padding: 0px 20px 20px 20px;
  background-color: var(--colour4);
  border: 3px solid var(--colour5);
  border-radius: 15px 50px;
  margin-bottom: 20px;
}
