<h1>Create New Product</h1>

<form class="" action="/products" method="post">
  <label for="name">Name:</label>
  <input id="name" type="text" name="name" >
  <br>
  <!-- TODO: turn into drop-down, retrieve producer_id and assign -->

  <label for="producer_select">Select Producer:</label>
  <select name="producer_id" id="producer_select">
    <% @producers.each do |producer| %>
        <option value=<%= producer.id %>><%= producer.name %></option>
    <% end %>
  </select>
  <br>

  <label for="origin">Origin:</label>
  <input id="origin" type="text" name="origin" >
  <br>
  <label for="roast">Roast:</label>
  <input id="roast" type="text" name="roast" >
  <br>
  <label for="blend">Blend:</label>
  <input id="blend" type="text" name="blend" >
  <br>
  <label for="type">Type:</label>
  <input id="type" type="text" name="type" >
  <br>
  <label for="weight">Weight:</label>
  <input id="weight" type="number" name="weight" >
  <br>
  <label for="unit-cost">Unit Cost:</label>
  <input id="unit-cost" type="number" name="unit_cost" >
  <br>
  <label for="sell-price">Sell Price:</label>
  <input id="sell-price" type="number" name="sell_price" >
  <br>
  <input type="submit" name="" value="Create Product">
</form>
